body {
	margin: 0;
	padding: 0;
	color: #4b4b4b;
	background: white;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
}

a img {
	border: 0;
}

img {
	max-height: 300px;
	max-width: 485px; /* Golden ratio ~ 485/300 */
}

a:link, a:visited, a:hover, a:active {
	color: #0033cc;
}
a:hover {
	text-shadow: rgba( 0, 0, 0, .3 ) 0 1px 1px;
}

a.member {
	text-decoration: none;
	color: #4b4b4b;
}

a.member:hover {
	text-decoration: underline;
}

.message:after,
.event:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both;
}

.message.incoming {
	background: #efefef;
}

.message.outgoing {
	background: #ffffcc;
}

.timestamp {
	float: right;
	width: 70px;
	padding: 4px 10px;
	color: #333333;
	text-align: right;
}

.message .sender {
	color: #333333;
}
.message .sender {
	width: 100px;
	float: left;
	text-align: right;
	background: #efefef;
	color: #363636;
	text-decoration: none;
	padding: 4px;
	font-weight: bold;
	overflow: hidden;
}

.message .content {
	background: #fff;
	margin-left: 108px;
	padding-left: 1px;
	border-left: 1px solid #dcdcdc;
}

.message .content {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	margin-bottom: 0;
	border-bottom: #efefef 1px solid;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

.event {
	color: #363636;
	background: #d9e7fb;
	border-bottom: white 1px solid;
	font-size: 0.75em;
	line-height: 1.5em;
	padding-top: 5px;
	padding-bottom: 5px;
}

.event .timestamp {
}

.event .content {
	margin: 0;
	padding-left: 5px;
	color: #303030;
	word-wrap: break-word;
	-khtml-line-break: after-white-space;
	-khtml-nbsp-mode: space;
}

.event a {
	color: #404040;
}

#consecutiveInsert {
	display: none;
}
