<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Succinct Colloquy Chat Style</string>
	<key>CFBundleIdentifier</key>
	<string>net.albin.colloquy.style.succinct</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Succinct</string>
	<key>CFBundlePackageType</key>
	<string>coSt</string>
	<key>JVStyleOptions</key>
	<array>
		<dict>
			<key>description</key>
			<string>Display images</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>style</key>
			<array>
				<string>/* Display images */ .image__img { display: inline; } .image__url { display: none; }</string>
				<string>/* Display images */ .image__img { display: none; } .image__url { display: inline; }</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>Display events</string>
			<key>type</key>
			<string>list</string>
			<key>options</key>
			<array>
				<string>Yes</string>
				<string>No</string>
			</array>
			<key>default</key>
			<integer>0</integer>
			<key>style</key>
			<array>
				<string>/* Display events */ .event { display: table-row; }</string>
				<string>/* Display events */ .event { display: none; }</string>
			</array>
		</dict>
		<dict>
			<key>description</key>
			<string>Event text</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#aaaaaa</string>
			<key>style</key>
			<string>/* Event text */ .event, .event a:link, .event a:visited { color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Nickname text</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#4b4b4b</string>
			<key>style</key>
			<string>/* Nickname text */ .member:link, .member:visited { color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Nickname background</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#efefef</string>
			<key>style</key>
			<string>/* Nickname background */ .message__sender, .event__sender { background-color: %@; } .message--outgoing:first-child .message__sender { border-top-color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Your nickname background</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>rgba( 255, 255, 204, 0.0 )</string>
			<key>style</key>
			<string>/* Your nickname background */ .message--outgoing .message__sender { background-color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Your messages background</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#ffffcc</string>
			<key>style</key>
			<string>/* Your messages background */ .message--outgoing { background-color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Highlighted messages background</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#d9e7fb</string>
			<key>style</key>
			<string>/* Highlighted messages background */ .message--highlight { background-color: %@; }</string>
		</dict>
		<dict>
			<key>description</key>
			<string>Notices background</string>
			<key>type</key>
			<string>color</string>
			<key>default</key>
			<string>#eeffee</string>
			<key>style</key>
			<string>/* Notices background */ .message--notice { background-color: %@; }</string>
		</dict>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>© 2010-2013 John Albin Wilkins</string>
</dict>
</plist>
