/**
 * Base HTML element rules
 */

html {
  font-family: $base-font-family;
  font-size: (13px / $colloquy-default-font-size) * 100%;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  color: $grey-text;
  background-color: white;
}

img {
  border: 0;
  /* Golden ratio ~ 485/300 */
  max-height: 300px;
  max-width: 485px;
}

a:link {
  color: $blue-text;
}

a:visited {
  color: $blue-text;
}

a:hover,
a:focus {
  text-shadow: rgba( 0, 0, 0, .3 ) 0 1px 1px;
}
