body {
	margin: 0;
	padding: 0;
	color: #4b4b4b;
	background-color: white;
	font-family: $lucida;
	font-size: 0.8em;
	line-height: 1.5em;
}

img {
	border: 0;
	max-height: 300px;
	max-width: 485px; /* Golden ratio ~ 485/300 */
}

a:link {
	color: #0033cc;
}

a:visited {
	color: #0033cc;
}

a:hover,
a:focus {
	text-shadow: rgba( 0, 0, 0, .3 ) 0 1px 1px;
}
