/**
 * Elements
 */
.member {
  &:link,
  &:visited {
    color: $grey-text;
    text-decoration: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.highlight {
  font-weight: bold;
  color: $grey-text-dark;
}

.hidden {
  display: none;
}

.table {
  border-bottom: 1px solid $grey-border;
}

/**
 * Areas
 */
%sender {
  min-width: 120px;
  border-right: 1px solid $grey-border;
  background-color: $bg-incoming;
  font-weight: bold;
  text-align: right;
  text-shadow: rgba(255, 255, 255, 1) 1px 1px 0;
  word-wrap: break-word;
}

%content {
  /* Force the content as wide as possible. */
  width: 100%;
}

%timestamp {
  font-size: 0.75rem;
  text-align: right;
}

/**
 * Messages
 */
.message {
  > * {
    padding: 4px 10px;
  }
}

.message--highlight {
  background-color: $bg-highlight;
}

.message--outgoing {
  background-color: $bg-outgoing;
}

.message--notice {
  background-color: $bg-notice;
}

.message__sender {
  @extend %sender;
  border-top: 1px solid transparent;

  .message--outgoing & {
    background-color: transparent;
  }

  .message--outgoing:first-child & {
    border-top: 1px solid $bg-incoming;
  }
}

.message--consecutive .message__sender .member {
  display: none;
}

.message__content {
  @extend %content;
  border-top: 1px solid $grey-border;
}

.message__timestamp {
  @extend %timestamp;
  border-top: 1px solid $grey-border;
  color: $grey-text-med;
}

.message:first-child > * {
  border-top: none;
}

/**
 * Events
 */
.event {
  color: $grey-text-light;
  font-size: 0.75rem;
  line-height: 1.2rem;

  a:link,
  a:visited {
    color: $grey-text-light;
  }

  &:hover {
    &,
    & a:link,
    & a:visited,
    & .event__timestamp {
      color: $grey-text;
    }
  }

  > * {
    padding: 4px 10px;
  }

  + .event {
    > * {
      padding: 0 10px;
      position: relative;
      /* Un-do first event's bottom padding. */
      top: -4px;
    }
    .event__sender {
      top: 0;
    }
  }
}

.event__sender {
  @extend %sender;
}

.event__content {
  @extend %content;
  font-style: italic;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

.event__timestamp {
  @extend %timestamp;
}

.message + .event {
  .event__sender {
    border-top: 1px solid transparent;
  }
  .event__content,
  .event__timestamp {
    border-top: 1px solid $grey-border;
  }
}
