/**
 * Base HTML element rules
 */
html {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
  font-size: 81.25%;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  color: #4b4b4b;
  background-color: white;
}

img {
  border: 0;
  /* Golden ratio ~ 485/300 */
  max-height: 300px;
  max-width: 485px;
}

a:link {
  color: #0033cc;
}

a:visited {
  color: #0033cc;
}

a:hover,
a:focus {
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

/**
 * Layout rules
 */
.table {
  display: table;
  width: 100%;
}

.table__row {
  display: table-row;
}

.table__cell {
  display: table-cell;
}

/**
 * Elements
 */
.member:link, .member:visited {
  color: #4b4b4b;
  text-decoration: none;
}
.member:hover, .member:focus {
  text-decoration: underline;
}

.highlight {
  font-weight: bold;
  color: #333333;
}

.hidden {
  display: none;
}

.table {
  border-bottom: 1px solid #dddddd;
}

/**
 * Areas
 */
.message__sender, .event__sender {
  min-width: 120px;
  border-right: 1px solid #dddddd;
  background-color: #efefef;
  font-weight: bold;
  text-align: right;
  text-shadow: white 1px 1px 0;
  word-wrap: break-word;
}

.message__content, .event__content {
  /* Force the content as wide as possible. */
  width: 100%;
}

.message__timestamp, .event__timestamp {
  font-size: 0.75rem;
  text-align: right;
}

/**
 * Messages
 */
.message > * {
  padding: 4px 10px;
}

.message--highlight {
  background-color: #d9e7fb;
}

.message--outgoing {
  background-color: #ffffcc;
}

.message--notice {
  background-color: #eeffee;
}

.message__sender {
  border-top: 1px solid transparent;
}
.message--outgoing .message__sender {
  background-color: transparent;
}
.message--outgoing:first-child .message__sender {
  border-top: 1px solid #efefef;
}

.message--consecutive .message__sender .member {
  display: none;
}

.message__content {
  border-top: 1px solid #dddddd;
}

.message__timestamp {
  border-top: 1px solid #dddddd;
  color: #666666;
}

.message:first-child > * {
  border-top: none;
}

/**
 * Events
 */
.event {
  color: #aaaaaa;
  font-size: 0.75rem;
  line-height: 1.2rem;
}
.event a:link,
.event a:visited {
  color: #aaaaaa;
}
.event:hover, .event:hover a:link, .event:hover a:visited, .event:hover .event__timestamp {
  color: #4b4b4b;
}
.event > * {
  padding: 4px 10px;
}
.event + .event > * {
  padding: 0 10px;
  position: relative;
  /* Un-do first event's bottom padding. */
  top: -4px;
}
.event + .event .event__sender {
  top: 0;
}

.event__content {
  font-style: italic;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

.message + .event .event__sender {
  border-top: 1px solid transparent;
}
.message + .event .event__content,
.message + .event .event__timestamp {
  border-top: 1px solid #dddddd;
}

/**
 * Inline images
 */
.image__url {
  display: none;
}

/**
 * Debug styling
 */
/* Hide debug tools for normal usage. */
.debug {
  display: none;
}

#modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4b4b4b;
  opacity: 0.7;
}

#modal__content, #modal__open, #modal__close {
  position: fixed;
  border: 1px solid #4b4b4b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
}

#modal__content {
  top: 20px;
  bottom: 42.8px;
  left: 20px;
  right: 20px;
  padding: 20px;
  overflow: auto;
}

#modal__open, #modal__close {
  height: 22.8px;
  right: 20px;
  padding: 0 5px;
  line-height: 23px;
  text-align: center;
}
#modal__open a:link, #modal__close a:link,
#modal__open a:visited,
#modal__close a:visited {
  color: #4b4b4b;
  text-decoration: none;
}

#modal__open {
  bottom: 0;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#modal__close {
  bottom: 19px;
  border-top: 1px solid #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
