html {
  font-size: 118.18182%;
  line-height: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  color: #4b4b4b;
  background-color: white;
}

img {
  border: 0;
  max-height: 300px;
  max-width: 485px;
  /* Golden ratio ~ 485/300 */
}

a:link {
  color: #0033cc;
}

a:visited {
  color: #0033cc;
}

a:hover,
a:focus {
  text-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
}

.table {
  display: table;
  width: 100%;
}

.table--row-group {
  display: table-row-group;
}

.table--row {
  display: table-row;
}

.table--cell {
  display: table-cell;
}

.debug {
  display: none;
}

/**
 * Elements
 */
.member:link, .member:visited {
  color: #4b4b4b;
  text-decoration: none;
}
.member:hover, .member:focus {
  text-decoration: underline;
}

.highlight {
  font-weight: bold;
  color: #333333;
}

.hidden {
  display: none;
}

.table {
  border-bottom: 1px solid #dddddd;
}

#consecutiveInsert {
  display: none;
}

/**
 * Areas
 */
.message--sender, .event--sender {
  min-width: 120px;
  border-right: 1px solid #dddddd;
  background-color: #efefef;
  font-weight: bold;
  text-align: right;
  text-shadow: white 1px 1px 0;
  word-wrap: break-word;
}

.message--content, .event--content {
  width: 100%;
  /* Force the content as wide as possible. */
}

.message--timestamp, .event--timestamp {
  font-size: 0.75rem;
  text-align: right;
}

/**
 * Messages
 */
.message > * {
  padding: 4px 10px;
}

.message-highlight {
  background-color: #d9e7fb;
}

.message-outgoing {
  background-color: #ffffcc;
}

.message-notice {
  background-color: #eeffee;
}

.message--sender {
  border-top: 1px solid transparent;
}
.message-outgoing .message--sender {
  background-color: transparent;
}
.message-outgoing:first-child .message--sender {
  border-top: 1px solid #efefef;
}

.message + .message .message--sender .member {
  display: none;
}

.message--content {
  border-top: 1px solid #dddddd;
}

.message--timestamp {
  border-top: 1px solid #dddddd;
  color: #666666;
}

.envelope:first-child .message:first-child > * {
  border-top: none;
}

/**
 * Events
 */
.event {
  color: #aaaaaa;
  font-size: 0.75rem;
  line-height: 1.2rem;
}
.event a:link,
.event a:visited {
  color: #aaaaaa;
}
.event:hover, .event:hover a:link, .event:hover a:visited, .event:hover .event--timestamp {
  color: #4b4b4b;
}
.event > * {
  padding: 4px 10px;
}
.event + .event > * {
  padding: 0 10px;
  position: relative;
  top: -4px;
  /* Un-do first event's bottom padding. */
}
.event + .event .event--sender {
  top: 0;
}

.event--content {
  font-style: italic;
  word-wrap: break-word;
  -khtml-line-break: after-white-space;
  -khtml-nbsp-mode: space;
}

.envelope + .event .event--sender {
  border-top: 1px solid transparent;
}
.envelope + .event .event--content,
.envelope + .event .event--timestamp {
  border-top: 1px solid #dddddd;
}

#modal--overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #4b4b4b;
  opacity: 0.7;
}

#modal--content, #modal--open, #modal--close {
  position: fixed;
  border: 1px solid #4b4b4b;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  background-color: white;
}

#modal--content {
  top: 20px;
  bottom: 42.8px;
  left: 20px;
  right: 20px;
  padding: 20px;
  overflow: auto;
}

#modal--open, #modal--close {
  height: 22.8px;
  right: 20px;
  padding: 0 5px;
  line-height: 23px;
  text-align: center;
}
#modal--open a:link, #modal--close a:link,
#modal--open a:visited,
#modal--close a:visited {
  color: #4b4b4b;
  text-decoration: none;
}

#modal--open {
  bottom: 0;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#modal--close {
  bottom: 19px;
  border-top: 1px solid #efefef;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
